# Python Basics & Containers

---
### 1. Numbers

* Integers
* Floating point numbers

In [1]:
num1 = 5
num2 = 2
num3 = num1 + num2
print(num3, "\t", type(num3))          # <---- shown without a decimal point (integer)


# perfomring a math operation with a floating point number
num4 = num3 * 1.0                      
print(num4, "\t", type(num4))          # <---- shown with a decimal point (floating point number)

print("\n\n")

7 	 <class 'int'>
7.0 	 <class 'float'>

---
### 2. Variables

In [2]:
# We don't need to specify which data type the varibale is while declaring it
# unlike C++ and Java, python can dynamically update the data type to a variable when a value is assigned to it


a = 10
b = 20
print(a, b)    # 10, 20

# Swapping operation 1
temp = a
a = b
b = temp
print(a, b)    # 20, 10

# Swapping operation 2  (not possible in C++)
a, b = b, a
print(a, b)    # 10, 20

print("\n\n")

10 20
20 10
10 20

---
### 3. Operators

3.1 Unary:
* Negation operator (-)

<br>

3.2 Binary:
* Addition (+)
* Subtraction (-)
* Multiplication (*)
* Division (/)
* Exponent (**)
<br>

*(Everyone knows the operators mentioned above, but what about the following?)*
* Floor Division (//)
* Modulus (%)

<br>

In [3]:
a = 25
b = 10
print("a / b \t=", a/b, "\na // b \t=", a//b, "\na % b \t=", a%b, "\n\n")

a / b 	= 2.5
a // b 	= 2
a % b 	= 5

---
### 4. Strings

* indexing
* Slicing
* Concatenation
* Separators

In [4]:
# Indexing
name = "Sudhansh Dua"  # 12 characters
print("1st letter:\nnormal indexing \t=", name[0], "\nbackward indexing \t=", name[-12])


# Slicing
print("\n\nFirst name: \t", name[ : 8])       # from 0th to the 8th index, it won't include the 8th index value i.e. [0, 8) or [0, 7]
print("Last name: \t", name[-3 : ], "\n\n")   # the last character is included [-3, -1]

1st letter:
normal indexing 	= S
backward indexing 	= S


First name: 	 Sudhansh
Last name: 	 Dua

In [5]:
# Slicing with step size

numbers = [1, 2, 3, 4, 5, 6, 7, 8]
print(numbers[ : : 2])                        # from 1st to last character with a step size of 2
print(numbers[1: : 4])                        # from 2nd to last character with a step size of 4
print(numbers[2: -1: ])                       # from 3rd to second last character with a step size of 1
print("\n\n")

[1, 3, 5, 7]
[2, 6]
[3, 4, 5, 6, 7]

In [6]:
# Concatenation


first_name = "Sudhansh"
last_name = "Dua"
full_name = first_name + " " + last_name
print("Full name:\t", full_name)


print("\n\n")

Full name:	 Sudhansh Dua

---
### 5. Print function

In [7]:
# Separators
print("Date of Birth:")
print("14", "07", "1997", sep = " / ")

print("\n1", "2", "3", "4", "5", sep = " . ")
print("6", "7", "8", "9", "10\n\n", sep = " | ")


# 2 methods of separation
print("U", "S", "A", sep = " ")
print(*"USA")


print("\n\n")

Date of Birth:
14 / 07 / 1997

1 . 2 . 3 . 4 . 5
6 | 7 | 8 | 9 | 10


U S A
U S A

In [8]:
# Formatting strings

print("My name is {}.\nCurrently, I'm {} years old".format(first_name, 24))

profession = "Quant"
programming = "C/C++ and python"
squat = 140 

print("\nI want to become a %s." % profession)
print("I can code in the following programming languages: %s" % programming)
print("Also, I can squat %d kgs!" % squat)

print("\n\n")

My name is Sudhansh.
Currently, I'm 24 years old

I want to become a Quant.
I can code in the following programming languages: C/C++ and python
Also, I can squat 140 kgs!

---
### 6. Containers
* Lists
* tuples
* Dictionaries
* Sets

In [9]:
# Lists

list1 = [1, 20, 35, 40, 0.5]
list1.pop()           #Â removing the last element

list1.sort(reverse = True)
print(list1, "\n")    # sorted in descending order

list1.append(0.5)
print(list1, "\n")

# nested list
list2 = [[1, 2, 3], ['pi', 'e'], [0.0, -1.0, 1.0]]
print(list2[2][0])    # 1st element from the second element in this nested list = 0.0


print("\n\n")

[40, 35, 20, 1]

[40, 35, 20, 1, 0.5]

0.0

In [10]:
# Tuples (a.k.a the read-only list)

tup = (1, 2, 3, 1, 5, 6)
print(tup.index(2), "\n")  # finding the index value of a particular element

print(tup.index(1), "\n")  # what about the other position?

print(tup.count(1), "\n")  # number of occurrence of a given element 

print(tup[-1])             # indexing and slicing works, but append() and pop() wont't!

print("\n\n")

1

0

2

6

In [11]:
# Dictionary 

dict1 = {"Name": "Sudhansh",
         "Age":  24,
         "D.O.B": '14 July 1997'}
print(dict1, "\n")


# instead of indexing we use keys to access the value that is associated with that key
print("Age\t=", dict1["Age"], "\n\n")


# adding elements
dict1["Location"] = "India"
dict1["email"] = "sudhansh14@gmail.com"
print(dict1, "\n")


# changing values
dict1["Name"] = ["Sudhansh", "Dua"]
print(dict1, "\n")


# removing keys and elements
dict1.pop("Location")
print(dict1, "\n\n")


# getting all the keys
print(dict1.keys(), "\n")


# getting all the values
print(dict1.values(), "\n")


# getting the key-value pairs
print(dict1.items())


print("\n\n")

{'Name': 'Sudhansh', 'Age': 24, 'D.O.B': '14 July 1997'}

Age	= 24


{'Name': 'Sudhansh', 'Age': 24, 'D.O.B': '14 July 1997', 'Location': 'India', 'email': 'sudhansh14@gmail.com'}

{'Name': ['Sudhansh', 'Dua'], 'Age': 24, 'D.O.B': '14 July 1997', 'Location': 'India', 'email': 'sudhansh14@gmail.com'}

{'Name': ['Sudhansh', 'Dua'], 'Age': 24, 'D.O.B': '14 July 1997', 'email': 'sudhansh14@gmail.com'}


dict_keys(['Name', 'Age', 'D.O.B', 'email'])

dict_values([['Sudhansh', 'Dua'], 24, '14 July 1997', 'sudhansh14@gmail.com'])

dict_items([('Name', ['Sudhansh', 'Dua']), ('Age', 24), ('D.O.B', '14 July 1997'), ('email', 'sudhansh14@gmail.com')])

In [12]:
# Sets

set1 = set({1, 2})

# adding an element
set1.add(3)
print(set1, "\n")

# only unnique elements can be added
set1.add(2)
set1.add(4.0)
print(set1, "\n")


set2 = set({4})

#Â intersection is the two sets
print(set1.intersection(set2))

print("\n\n")

{1, 2, 3}

{1, 2, 3, 4.0}

{4}

---
### 7. Conversions

In [13]:
# Data type conversions


# float to int
pi = 3.141
type(pi)
pi = int(pi)
print(pi, "\n")


# int to float
num = 50
print(float(num), "\n")


# float to string 
num = str(num)
print(num, "\tlength =", len(num))


print("\n\n")

3

50.0

50 	length = 2

In [14]:
# Container conversions

# list to tuple
list2 = [10, 20, 30, 40]
print(tuple(list2), "\n")


# tuple to list
tup2 = (1, 2, 3)
print(list(tup2))


print("\n\n")

(10, 20, 30, 40)

[1, 2, 3]

---
### 8. Input from the users

In [17]:
input("How would you like to pay?\n1) Cash ($ / Â£)\n2) Card (VISA / Mastercard)\n3) Crypto (BTC / ETH)\n\n")
print("\n\n")

How would you like to pay?
1) Cash ($ / Â£)
2) Card (VISA / Mastercard)
3) Crypto (BTC / ETH)

 3

In [18]:
x = input("Enter a number")
print(x * 3)        # it's not what it looks like!!

print("\n", type(x))
print("\n\n")

Enter a number 2

222

 <class 'str'>

In [19]:
try:
    x = input("Enter a number")
    print("3 times the number =", int(x) * 3, "\n")     # it is what it is!
except ValueError:
    print("Invalid entry!!! Please enter an integer\n\n")

    
    
y = int(input("Enter another number"))
print(y * 10)

print("\n\n")

Enter a number 10.5

Invalid entry!!! Please enter an integer

Enter another number 10

100